<!DOCTYPE HTML>
<html lang="en" ng-app="GitUserSearch">
  <head>
    <meta charset="utf-8">
    <title>Github user search</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/gitUserSearchController.js"></script>
  </head>

  <body ng-controller="GitUserSearchController">
    <div>
      <form class="form-horizontal">
        <input type="text" ng-model="searchTerm" ng-change="doSearch()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
        <button class="btn" ng-click="doSearch()">Search</button>
      </form>
      <ul class="list-group" ng-repeat="user in searchResult.items">
        <li>
          <img width="50" height="50" ng-src="{{user.avatar_url}}">
          <a ng-href="{{user.html_url}}">{{user.login}}</a>
          Followers: <b><a href="{{username.followers_url}}">{{username.followers}}</a></b>
          Public Repositories: <b><a href="{{username.repos_url}}">{{username.public_repos}}</a></b>
        </li>
      </ul>
    </div>
  </body>
</html>